# Air - Live reload for Go apps
# https://github.com/cosmtrek/air

root = "."
tmp_dir = "tmp"

[build]
  bin = "./tmp/dashboard-server"
  cmd = "go build -o ./tmp/dashboard-server ."
  delay = 500
  exclude_dir = ["tmp", "vendor"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "./tmp/dashboard-server -open=false"
  include_dir = []
  include_ext = ["go"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = true
